body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border: none;
}

.btn {
    padding: 10px;
    margin: 10px;
    width: 100px
}

.container {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    height: 85dvh;
    width: 85dvh;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
}

.hovered {
    background-color: aqua;
}